[Unit]
Description=XDP Firewall tool.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/xdpfw
ExecStopPost=/bin/bash /etc/xdpfw/xdpfw-cleanup.sh
Restart=always

[Install]
WantedBy=multi-user.target
